![green-divider](https://user-images.githubusercontent.com/7065401/52071924-c003ad80-2562-11e9-8297-1c6595f8a7ff.png)


# Titanic Kaggle Competition.

In [14]:
# Load the Libraries

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from scipy.stats import pearsonr

import sys
import re
import datetime

import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Load the dataset

training_raw = pd.read_csv("train.csv")
testing_raw = pd.read_csv("test.csv")

# EDA: Tables and Visualizations

In [16]:
# Number of rows and features
print(training_raw.shape)

# Print name of features
print(training_raw.columns)

(891, 12)
Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [18]:
# Tables and Numeric Data Exploration

In [19]:
training_raw.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [20]:
training_raw.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [81]:
# Missing data

# store the index of features with over 70% missing data.
missing_cutoff = .7
indx_miss = []

print("# Column Missing Percentage".format())
for i, var in enumerate(training_raw.columns):
    missing = round(sum(training_raw[var].isnull())/training_raw.shape[0], 2)
    if missing > missing_cutoff:
            indx_miss.append(i)
    print("{:<3} {:<16} {:^16.1%}".format(i, var, missing))

print(indx_miss)

# Column Missing Percentage
0   PassengerId            0.0%
1   Survived               0.0%
2   Pclass                 0.0%
3   Name                   0.0%
4   Sex                    0.0%
5   Age                   20.0%
6   SibSp                  0.0%
7   Parch                  0.0%
8   Ticket                 0.0%
9   Fare                   0.0%
10  Cabin                 77.0%
11  Embarked               0.0%
[10]

### Identify categorical and numeric features. 

cat_features = []
num_features = []

In [ ]:
### Hot one-encode all categorical features.

In [ ]:
# Visual Exploration

In [ ]:
## Create Histogram of numeric variables and Barplots of categorical variables.

In [ ]:
### Histograms
for var in num_features:
    plt.hist(var)
    plt.xlab(var)
    plt.title('Histogram of ' + var)
    plt.show()

In [ ]:
### Barplots
for var in cat_features:
    plt.barplot(var)
    plt.xlab(var)
    plt.title("Barplot of ", + var)
    plt.show()

In [ ]:
### Correlation plot using pearson correlation
ratings = ['Funny', 'Beautiful', 'Ingenious', 'Courageous', 'Longwinded', 'Confusing', 'Informative', 'Fascinating', 'Unconvincing', 
           'Persuasive', 'Jaw-dropping', 'OK', 'Obnoxious', 'Inspiring', 'Popular']
plt.figure(figsize=(10,8))
sns.heatmap(ted[ratings].corr(), annot=True, cmap='RdBu');

In [21]:
### Bivariate scatter plots
nums = ['comments', 'duration', 'languages', 'num_speaker', 'views']
sns.pairplot(ted, vars=nums, hue='Popular', hue_order = [1,0], diag_kind='kde', height=3);

In [22]:
### Heat Map?

In [3]:
# Separate training data into train and validation dataset: using 80:20. And Separate data into features and target

# target variable 
target = 'Survived'

if target.isnotnull(): # If target feature is identified
    X_train_raw, X_test_raw, y_train, y_test = train_test_split( training_raw.drop(columns = target, axis = 1)
                                                           , train_raw[target], test_size = 0.2, random_state = 1) 
                                                           
if target.isnull(): # If last variable is target variable. 
    X_train_raw, X_test_raw, y_train, y_test = train_test_split( training_raw.drop(columns = training_raw.columns[-1], axis = 1)
                                                   , training_raw[training.columns[-1]],  test_size = 0.2, random_state = 1)

In [ ]:
dataset_list = [X_train_raw, X_test_raw, y_train, y_test]

for dataset in dataset_list:
    print(dataset.shape)

In [ ]:
# Data Cleaning 

# Dealing with missing values

## Removing features with over 70% missing data.


## Filling in the mean

## Some imputation method

In [6]:
# List of Models to Build

In [7]:
# Model 1

In [8]:
# Model 2

In [9]:
# Model 3

In [10]:
# Model 4

In [11]:
# Test Results - Test all Models on Test set togather.